body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: black;
}

.sign-in {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.sign-in label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000;
}

.sign-in input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.sign-in button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 50%;
}
